html,body{
    height: auto !important;
    width: auto !important;
    //overflow-x: hidden !important;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

h1{
    font-family: 'Raleway', sans-serif;
}
#logo{
margin-right:20px;
margin-left:20px;
    Width:auto;
}
